.header{
    height: 119px;
    background-image: linear-gradient(-180deg,#f53d2d,#f63);
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
}

.header-center{
    /* position: static; */
    /* background-image: linear-gradient(-180deg,#f53d2d,#f63); */
}

.header_navbar{
    display: flex;
    justify-content: space-between;
    position: relative;
}

.header_navbar-list{
    padding-left: 0;
    font-size: 1.3rem;
    list-style: none;
    margin: 9px 0 0 0;
    display: flex;
    flex-wrap: nowrap;
}

.header_navbar-item{
    display: inline-block;  
    margin: 0 16px 0 0px;
    position: relative;
}

.header_navbar-item, .header_navbar-item-link{
    color: var(--white-color);
    font-size: 1.3rem;
    display: inline-block;
    text-decoration: none;
}

.header_navbar-item-separate::after{
    content: "";
    display: block;
    position: absolute;
    width: 2px;
    height: 16px;
    background-color: #f86c5c;
    right: -12px;
    top: 0;
}

.header_navbar-item:hover{
    /* opacity: 70%; */
    cursor:pointer;
}

.header_navbar-item-qr:hover .header_qr{
    display: block;
}


.fa-brands{
    color: var(--white-color);
    margin: 0 5px 0 3px;
}

.fa-regular, .fa-solid{
    margin-right: 3px;
}

/* header qr */
.header_qr{
    width: 190px;
    padding-bottom: 10px;
    position: absolute;
    background-color: var(--white-color);
    border-radius: 2px;
    display: none;
    top: 200%;
    animation: fadeIn ease-in 0.08s;
    box-shadow: var(--shadow);
    z-index: 1;
}

.header_qr::before{
    content: "";
    position: absolute;
    width: 50%;
    height: 30px;
    /* background-color: #2dc6f5; */
    top: -7%;
}

.qr{
    width: 100%;
    padding: 10px;
}

.qr_apps{
    display: flex;
    width: 100%;
    height: 44px;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
}

.app{
    height: 17px;
}

.app1,.app3{
    margin-left: 15px;
}
.app2{
    margin-right: 15px;
}

/* notification */
.notify{
    position: absolute;
    top: 170%;
    right: 0;
    width: 399px;
    background-color: var(--white-color);
    border-radius: 2px;
    display: none;
    box-shadow: var(--shadow);
    z-index: 1;
}

.notify::before{
    content: "";
    position: absolute;
    width: 50%;
    height: 30px;
    /* background-color: aqua; */
    top: -15px;
    right: 0;
}

.notify::after{
    content: "";
    position: absolute;
    top: 0;
    transform: translateY(-100%);
    right: 30px;
    border-width: 8px 12px ;
    border-color: transparent transparent var(--white-color) transparent;
    border-style: solid;
    border-radius: 2px;
}

.header_notify{
    width: 100%;

}

.notify-contain{
 display: flex;
 align-items: center;
 flex-direction: column;
 margin-top: 40%;
 transform: translateY(-50%);
 font-size: 1.4rem;
}

.notify-img{
    /* position: absolute; */
    width: 30%;
    margin-bottom: 10px;
}

.notify-text{
    color: var(--text-color);
}

.footer-notify{
    display: flex;
    justify-content: space-between;
    background-color: rgb(245, 245, 245);
}

.btn-link{
    font-size: 1.4rem;
    text-decoration: none;
    color: var(--text-color);
    padding: 15px 69px;
    margin: auto;
}

.btn-link:hover{
    color: var(--primary-color);
    background-color: rgb(217, 217, 217);
    transition: ease-in 0.2s;
}

.header_navbar-item:hover .notify{
    display: block;
    transform-origin: calc(100% - 40px) top;
    animation: Growth ease-in-out 0.2s;
}

/* language */
.header-language{
    width: 200px;
    position: absolute;
    top: 170%;
    right: 0;
    background-color: var(--white-color);
    display: flex;
    flex-direction: column;
    border-radius: 2px;
    display: none;
    box-shadow: var(--shadow);
    z-index: 1;
}

.header-language::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 30px;
    top: -10px;
    right: 0;
    /* background-color: aqua; */
}

.header-language::after{
    content: "";
    position: absolute;
    top: 0;
    transform: translateY(-100%);
    right: 40px;
    border-width: 8px 12px ;
    border-color: transparent transparent var(--white-color) transparent;
    border-style: solid;
    border-radius: 2px;
}

.language:hover{
    color: var(--primary-color);
    transition: ease-in 0.1s;
}

.header_navbar-item:hover .header-language{
    display: flex;
    transform-origin: calc(100% - 45px) top;
    animation: Growth ease-in-out 0.15s;
}

.language{
    text-decoration: none;
    font-size: 1.4rem;
    color: var(--text-color);
    padding: 11px;
}

/* header-search */
.header-search{
    height: var(--header-search-size);
    display: flex;
    align-items: center;
}

.header-logo{
    width: 200px;
    height: 50px;
}

.header-logo-link{
    height: 50px;
    padding: 40px 40px 0 7px;
}

.header-logo-img{
    height: inherit;
}

/* searchbar */
.header-searchbar{
    align-items: center;
    display: flex;
    position: relative;
    flex: 1;
    height: 40px;
    background-color: var(--white-color);
    border-radius: 2px;
    box-shadow: var(--shadow);
}

.header-search-input{ 
    position: absolute;  
    left: 15px;
    font-size: 1.5rem;
    border: none;
    height: 97%;
    width: 90%;
    z-index: 0;
}

.search-btn{
    display: flex;
    position: absolute;
    right: 3px;
    width: 60px;
    height: 34px;
    background-color: #ee4d2d;
    border-radius: 2px;
    text-decoration: none;
}

.search-btn:hover{
    opacity: 80%;
}

.search-logo{
    margin: auto;
    color: var(--white-color);
}

/* cart */
.header-cart{
    position: relative;
    top: 5px;
    width: 138px;
    height: 59px;
    display: flex;
    margin-left: 15px;
}

.cart-link{
    margin: auto;
}

.cart-logo{
    color: var(--white-color);
    padding: 15px 7px 15px 7px;
}

.header-cart-list{
    position: absolute;
    top: 90%;
    right: 34%;
    width: 399px;
    background-color: var(--white-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 2px;
    display: none;
    box-shadow: var(--shadow);
}

.header-cart-list-img{
    width: 50%;
}

.header-cart-text{
    /* display: block; */
    color: var(--text-color);
    font-size: 1.4rem;
    position: absolute;
    top: 78%
}

.header-cart-list::before{
    content: "";
    position: absolute;
    width: 50px;
    right: 0;
    height: 22px;
    /* background-color: black; */
    top: -20px;
}

.header-cart-list::after{
    position: absolute;
    right: 11px;
    transform: translateY(-100%);
    content: "";
    border-width: 8px 12px ;
    border-color: transparent transparent var(--white-color) transparent;
    border-style: solid;
    border-radius: 2px;
}

.cart-link:hover .header-cart-list{
    display: flex;
    transform-origin: calc(100% - 40px) top;
    animation: Growth ease-in-out 0.2s;
}

/* header-suggets */
.header-suggest-item{
    position: absolute;
    top: 100%;
    list-style: none;
    margin: 5px 0 0 0;
    /* color: var(--white-color); */
    padding: 0;
    display: flex;
    width: 100%;
    justify-content: space-around;
    z-index: 0;
}

.header-suggest-link{
    text-decoration: none;
    color: hsl(0deg 0% 100% / 90%);
    color: #c0f52d;
    font-size: 1.2rem;
}

.header-search-history{
    position: absolute;
    top: 120%;
    width: 757px;
    display: flex;
    flex-direction: column;
    background-color: var(--white-color);
    border-radius: 2px;
    display: none;
}
.header-search-input:focus ~ .header-search-history{
    display: flex;
}

.header-search-history-link{
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.4rem;
    padding: 15px 0 10px 15px;
}

.header-search-history-link:hover{
    background-color: rgb(250, 250, 250);
}

/* container */
.container{
    background-color: rgb(245 245 245);
}

/* contain */
.contain-header{
    /* background-color: #2dd1ee; */
    /* box-shadow: 0 10px 10px rgba(211, 211, 211, 0.608); */
}

.contain-header-banner{
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
}

.contain-header-banner-img1 {
    width: 796px;  /* 1 */
    height: 235px;
    border-radius: 1px;
}

.contain-header-banner-right{
    display: flex;
    flex-direction: column;
}

.contain-header-banner-img2, .contain-header-banner-img3{
    width: 398px;
    height: 115px;
    border-radius: 2px;
}

.contain-header-list{
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-around;
}

.contain-header-item{
    /* background-color: #f53d2d; */
    width: 100px;
}

.contain-header-item:hover{
    position: relative;
    top: -1px;
}

.contain-header-item-link{
    text-decoration: none;
    font-size: 1.3rem;
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contain-header-item-img{
    width: 45px;
    margin: 18px 27px 8px ;
}

.contain-header-item-content{
    display: block;
    text-align: center;
    margin-bottom: 8px;
}

/* contain-main */
.contain-main{
    background-color: rgb(245 245 245);
    /* padding-top: 20px; */     /* để tạm thời làm shop */
}

.contain-section{
    position: relative;
    border-radius: 2px;
}

.contain-section-header{
    padding: 0 20px;
    width: 100%;
    height: 60px;
    font-size: 1.7rem;
    color: #757575;
    display: flex;
    align-items: center;
    background-color: var(--white-color);
    margin-bottom: 1px;
}

.contain-section-header-content{

}

.contain-section-list{
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.contain-section-item{
    width: 119px;
}

.contain-section-item-top{
    margin-bottom: 2px;
    background-color: var(--white-color);
    /* background-color: aqua; */
}

.contain-section-item-bottom{
    background-color: var(--white-color);
    /* background-color: red; */
}

.contain-section-item-top:hover , .contain-section-item-bottom:hover{
    box-shadow: 0 0 10px 1px rgba(164, 164, 164, 0.217);
}

.contain-section-item-link{
    width: 100%;
    height: 100%;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contain-section-item-img{
    width: 70%;
    margin: auto;
    margin-top: 10%;
}

.contain-section-item-content{
    height: 40px;
    font-size: 1.4rem;
    color: var(--text-color);
    display: block;
    text-align: center;
    margin-bottom: 10px;
}

/* category */
.shop-contain{
    margin: 30px ;
    
}

.category{
    /* background-color: var(--white-color); */

}

.category-heading{
    color: rgba(0, 0, 0, 0.8);
    font-size: 1.8rem;
    margin: 0;
    height: 51px;  /* chỉnh sửa sau */
    border-bottom: 1px solid rgba(203, 203, 203, 0.43);
    display: flex;
    align-items: center;
}

.category-heading-icon{
    margin-right: 10px;
    position: relative;
    top: 2px;
}

.category-list{
    list-style: none;
    padding-left: 0;
}

.category-item-active .category-item-link{
    color: var(--primary-color);
}

.category-item-active .category-item-link::before{
    content: "";
    position: absolute;
    border: 4px solid;
    border-color: transparent transparent transparent var(--primary-color);
    left: 0;
    top: 50%;
    transform: translateY(-59%);
}

.category-item{
}

.category-item-link{
    color: rgba(0, 0, 0, 0.87);
    text-decoration: none;
    font-size: 1.4rem;
    padding: 8px 10px 8px 12px;
    display: block;
    position: relative;
}

/* home sort + filter */

/* footer */
.footer{
    border-top: 4px solid var(--primary-color);
}